body{background: url(../imgs/bg2.png);font-family: "Helvetica Neue",Arial,Verdana,sans-serif;color: #dedeff;}

h1,h2,h3,h4,h5,a,a:visited,a:link{
color: #d9ce3d;
}
h1{font-size: 1.8em;margin-left: 10px;}

*iframe{display:none\9;width:0\9;height:0\9;visibility:hidden\9}

header{display: block; border-bottom: 2px solid #400;}
#content{
width: 700px;
background: #ddd;
color: #222;
min-height: 290px;
margin: 20px;
}
#content .text{
position: relative;
z-index: 2;
left: 0px;
padding: 18px;
font-size: 12px;
text-align: justify;
}


#menu {
z-index: 1000;
display: block;
margin: 20px auto;
width: 100%;
position: relative;
text-align: center;
}

#menu ul {
padding: 0;
margin: 0;
list-style: none;
overflow: hidden;
}

#menu ul li {
margin: 0;
padding: 0;
float: left;
text-align: center;
border: 1px solid #223;
margin-left: -1px;
}

#menu ul li:hover {
background: #777;
}

#menu ul li:active {
background: #888;
}
#menu ul li a{
text-decoration: none;
font: 11px Arial, sans-serif;
color: #ddd;
text-transform: uppercase;
padding: 35px;
}


