{% extends "layout.html" %}

{% block title %}{{ config.BLOG_TITLE }}{% endblock %}

{% block content %}

    {% for post in posts %}
    <section id="post-{{ post.id }}">
	<table class="article_title_container" cellspacing="0" cellpadding="0">
	    <tbody><tr class="article_title_line">
			
		<td class="can">
		    <div class="month">{{ post.created_at.strftime('%b') }}</div>
		    <div class="day">{{ post.created_at.strftime('%d') }}</div>
		</td>
		<td class="title-container">
		    <div id="articletitle"><h1><a href="{{ url_for('view_post_slug', slug=post.slug, pid=current_page) }}">{{ post.title }}</a></h1></div>
			
                        <div><p class="subheadline">
                        {% if post.created_at.strftime('%B %d, %Y') != post.updated_at.strftime('%B %d, %Y') %}
                            Updated at {{ post.updated_at.strftime('%B %d, %Y | %H:%M') }}
			{% else %}
			    Posted at {{ post.created_at.strftime('%B %d, %Y | %H:%M') }}
                        {% endif %}
			</p></div>

		</td>
	    </tr>
	  </tbody></table>
		
	<div class="postMeta limited hyphenate text">{{ post.render_content()|safe }}</div>
	<div><p class="gtag"><a href="{{ url_for('view_post_slug', slug=post.slug, pid=current_page)}}">>>More</a></p></div><br>

    {% endfor %}

    <nav class="pagination">
    {% if current_page > 0 %}
        <span class="prev">
            <a href="{{ url_for("index", page=current_page-1) }}">< Previous</a>
        </span>
    {% endif %}
    {% if is_more %}
        <span class="next">
            <a href="{{ url_for("index", page=current_page+1) }}">Next ></a>
        </span>
    {% endif %}
    </nav>
{% endblock %}
