<!doctype html>
<html lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="author" content="{{ config.AUTHOR }}">
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" media="screen, print" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono|IM+Fell+Double+Pica+SC|Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/jsloader.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/prettify.js') }}" type="text/javascript" async="async"></script>
    <script src="{{ url_for('static', filename='js/hyphenator.min.js') }}" type="text/javascript" async="async"></script>
    <link href="{{ url_for('feed') }}" rel="alternate" title="RSS" type="application/rss+xml" />
    <link href="{{ url_for('static', filename='css/prettify.css') }}" rel="stylesheet" type="text/css">
    <script type="text/javascript"
      src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
</head>

<body>

<div id="container">
    <div id='header'>
	<header>
	<div id="stage-wrapper">
	        <img id="logo" src="{{ url_for('static', filename='imgs/butterfly.png')}}"/>
		<a href="{{ url_for('index' )}}"><canvas id="stage">
		    </canvas></a>
	</div>
	<div id="header-bloginfo"> 
	    <h1><a href="{{ url_for('index') }}">{{ config.BLOG_TITLE }}</a></h1>
	    <span>{{ config.BLOG_TAGLINE }}</span>
	    <ul>
		{% if config.GITHUB_USERNAME %}
		    <li class='text'><a href="https://github.com/{{ config.GITHUB_USERNAME }}/">Github</a></li>
		{% endif %}
		{% if config.CONTACT_EMAIL %}
		<li class='text'><a href="mailto:{{ config.CONTACT_EMAIL }}?subject:Howdy">Email me</a></li>
		{% endif %}
		{% if config.LINKEDIN_PROFILE %}
		<li class='text'><a href="{{ config.LINKEDIN_PROFILE }}">LinkedIn</a></li>
		{% endif %}
		<li class='text'><a href="{{ url_for('feed') }}">Feed</a></li>
		{% block sidebar %}{% endblock %}
	    </ul>
	
	</div>
	<div id="header-widget" class="widget">
            <div style="font: 0px/0px;clear: both;display: block"> </div>
		<div id="cse" style="width: 100%;"><span class='text'>Loading Search box...</span></div>
		  <script src="http://www.google.com/jsapi" type="text/javascript"></script>
		  <script type="text/javascript">
		        math();
			google.load('search', '1', {language : 'en'});
			google.setOnLoadCallback(function() {
			    var customSearchControl = new google.search.CustomSearchControl('004804659902818603873:oj7uwt8wnay');
			    customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
			    customSearchControl.draw('cse');
			}, true);
		  </script> 

		<link rel="stylesheet" href="{{ url_for('static', filename='css/cse.css') }}" type="text/css" />
            </div>

	    <div id="recent-list">
	    </div>
	</div>
	
	</header>

    <div class="main">
        {% block content %}{% endblock %}
	<div id="footer">
	    <span class="powered-by">
		Powered by <a href="http://github.com/yiransheng/seincere">Seincere</a>,
		inspired by <a href="https://github.com/orf/simple">Simple</a>
		which in turn is inspired by <a href="https://github.com/NateW/obtvse">Obtvse</a>; and 
		that is inspired by<a href="http://svbtle.com/">Svbtle</a>.
		</span>
	</div>
    </div>
    <script src="{{ url_for('static', filename='js/particlize.min.js') }}" type="text/javascript"></script>
</div>
<!-- Google Analytics -->
<script>
    var _gaq=[['_setAccount','{{ config["ANALYTICS_ID"] }}'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
</body>
</html>
